.slide-p {
  font-size: 40px;
  color: white;
  font-family: "Montserrat";
  position: relative;
  bottom: 370px;
}

.slick-slide {
  width: 820px !important;
}

.slide-img {
  /* margin-left: 20px; */
  border-radius: 25px;
  /* width: 1500px !important;
  height: 719px; */
  width: 800px !important;
  height: 500px;
}

.slide-img:focus {
  outline: none !important;
}

.slide-div:focus {
  outline: none !important;
}

.slide-div {
  display: flex !important;
  justify-content: center;
  width: 800px !important;
  height: 500px;
}

.my-slider {
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}
