.container {
  margin: 0 auto;
  padding: 0 40px;
  color: #333;
  background: #fff;
}

.slide-div:focus {
  outline: none !important;
}

.slick-track {
  width: 3688px !important;
}

.slick-slide {
  width: 888.88px !important;
  margin-right: 20px;
}

.slick-slide:nth-of-type(1) {
  margin-left: 20px;
}

.slick-list {
  width: 1837.75px !important;
  height: 500px;
}

.slick-slider {
  display: flex !important;
  justify-content: center;
}

.slick-prev:before {
  background-image: url("../../../assets/svg/left_arrow.svg");
}

.slick-next:before {
  background-image: url("../../../assets/svg/right_arrow.svg");
}

.slick-prev:before,
.slick-next:before {
  background: #000;
  border-radius: 25px;
  filter: invert(100%);
  transition: 0.3s all ease-in-out;
}
